
.animal-search {
    background:linear-gradient(#dce35b,#45b649);  
}

/* .searchpanel {
    width: '50%'
    display:flex;
    justify-content: center; */
    
.card-container {
    display:flex;
    justify-content: center; 

}